snippet INFO "comment info" w
INFO added by `whoami` `date +%Y-%m-%d\ %H:%M` 
endsnippet

snippet TODO "comment todo" w
TODO added by `whoami` `date +%Y-%m-%d\ %H:%M` 
endsnippet

snippet BUG "comment bug" w
BUG added by `whoami` `date +%Y-%m-%d\ %H:%M` 
endsnippet

snippet ERROR "comment error" w
ERROR added by `whoami` `date +%Y-%m-%d\ %H:%M` 
endsnippet

snippet TEST "comment test" w
TEST added by `whoami` `date +%Y-%m-%d\ %H:%M` 
endsnippet
