snippet INFO "comment info" w
INFO(`whoami`) `date +%Y-%m-%d\ %H:%M` 
endsnippet

snippet TODO "comment todo" w
TODO(`whoami`) `date +%Y-%m-%d\ %H:%M` 
endsnippet

snippet BUG "comment bug" w
BUG(`whoami`) `date +%Y-%m-%d\ %H:%M` 
endsnippet

snippet ERROR "comment error" w
ERROR(`whoami`) `date +%Y-%m-%d\ %H:%M` 
endsnippet

snippet TEST "comment test" w
TEST(`whoami`) `date +%Y-%m-%d\ %H:%M` 
endsnippet
