snippet INFO "comment info" b
// INFO(`whoami`) `date +%Y-%m-%d\ %H:%M` 
// $0
endsnippet

snippet TODO "comment todo" b
// TODO(`whoami`) `date +%Y-%m-%d\ %H:%M` 
// $0
endsnippet

snippet BUG "comment bug" b
// BUG(`whoami`) `date +%Y-%m-%d\ %H:%M` 
// $0
endsnippet

snippet ERROR "comment error" b
// ERROR(`whoami`) `date +%Y-%m-%d\ %H:%M` 
// $0
endsnippet

snippet TEST "comment test" b
// TEST(`whoami`) `date +%Y-%m-%d\ %H:%M` 
// $0
endsnippet
